@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(156, 253, 221);
  border-radius: 5px;
  font-family: "Be Vietnam Pro", sans-serif;
}
input {
  outline: none;
  border: none;
}
button {
  height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
}
.timerContainer {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

::placeholder {
  font-size: medium;
}

.inputClass {
  background-color: azure;
  width: 150px;
  height: 50px;
  padding-left: 10px;
  margin: 5px;
  font-size: large;
  position: relative;
}

.setBtn {
  background-color: rgb(88, 88, 226);
  width: 70px;
  height: 50px;
  color: white;
  font-size: large;
  margin: 5px;
}
.timerClass {
  background-color: rgb(219, 219, 219);
  color: black;
  height: 40px;
  font-size: xx-large;
  width: 230px;
  margin: 5px auto;
}
.controlBtn {
  background-color: azure;
  margin: 5px;
  width: 110px;
  height: 40px;
  font-size: large;
}
